extends _assets/template

block title
    title about

block content
    +b.MAIN.about
        +e.DIV.wrp.wrp
            +e.DIV.title-block.title-block
                +e.H1.title.title О ПРОЕКТЕ
            +e.P.text
                | Портал, на котором Вы находитесь,  представляет собой универсальный учебно-методическим ресурс в области преподавания русского языка как иностранного в вузах России и зарубежья, осуществляющих подготовку специалистов для различных отраслей народного хозяйства (топливно-энергетический комплекс, транспортная логистика, экономика, финансы и др.).
                br
                br
                | Научно-методический центр русского языка стал организатором деятельности преподавателей русского языка в России и за рубежом. Разработанные здесь уникальные методики преподавания русского языка как иностранного стали фундаментом профессиональной деятельности отечественных и зарубежных преподавателей русского языка. С 1972 года начали проводиться Международные олимпиады школьников по русскому языку. Сотрудниками центра З.Н. Иевлевой, В.Г. Костомаровым, Е.М. Степановой, Л.Б. Трушиной был создан учебник «Русский язык для всех», удостоенный в 1979 году Государственной премии СССР.
                br
                br
                | За годы работы Институт подготовил около 500 тысяч выпускников. Каждый год на обучение приезжают молодые люди из 90 стран, в том числе из Австралии, Австрии, Болгарии, Бразилии, Венгрии, Вьетнама, Германии, Индии, Испании, Италии, Китая, Северной и Южной Кореи, Мексики, Польши, Румынии, Словакии, США, Турции, Финляндии, Франции, Чехии, Южной Кореи, Японии.
                br
                br
                | Наша миссия - распространение и поддержка русского языка в мире. Преподавание русского языка как иностранного, подготовка кадров и повышение квалификации преподавателей-русистов, разработка научно-методических материалов и словарей для изучения русского языка, проведение тестирования по русскому языку как иностранному/неродному/родному – ключевые направления деятельности организации.
