extends _assets/template

block title
    title main

block content
    +b.MAIN.main
        +b.SECTION.slider-block
            +e.DIV.slider.hero-slider
                +e.DIV.slide(style="background-image: url(img/hero-slide-1.jpg);")
                    +e.DIV.text-block
                        +e.SPAN.up-text Время готовиться
                        +e.SPAN.text
                            | к ежегодной образовательной
                            br
                            br
                            |акции “Тотальный диктант”
                +e.DIV.slide(style="background-image: url(img/hero-slide-1.jpg);")
                    +e.DIV.text-block
                        +e.SPAN.up-text Время готовиться
                        +e.SPAN.text
                            | к ежегодной образовательной
                            br
                            br
                            | акции “Тотальный диктант”
                +e.DIV.slide(style="background-image: url(img/hero-slide-1.jpg);")
                    +e.DIV.text-block
                        +e.SPAN.up-text Время готовиться
                        +e.SPAN.text
                            | к ежегодной образовательной
                            br
                            br
                            | акции “Тотальный диктант”
        +b.SECTION.content
            +e.DIV.left
                +news-block()
            +e.DIV.right
                +meet-block()
                +books-block()
        +b.SECTION.quote
            +e.wrp
                +e.P.text
                    | «Во дни сомнений, во дни тягостных раздумий о судьбах моей родины, - ты один мне поддержка и опора, о великий, могучий, правдивый и свободный русский язык! Не будь тебя - как не впасть в отчаяние при виде всего, что совершается дома? Но нельзя верить, чтобы такой язык не был дан великому народу».
                    br
                    br
                    | Иван Сергеевич Тургенев





























