extends _assets/template

block title
    title news-all

block content
    +b.MAIN.news-all
        +e.DIV.wrp.wrp
            +e.DIV.title-block.title-block
                +e.H1.title.title КОНФЕРЕНЦИИ И СЕМИНАРЫ
            +page-content()
        +pagination()