include layout/head/head
include layout/header/header
include layout/footer/footer
include components/nav
include components/blocks/meet-block
include components/blocks/news-block
include components/blocks/books-block
include components/blocks/page-content
include components/pagination