extends _assets/template

block title
    title news-single

block content
    +b.MAIN.news-single
        +e.DIV.wrp.wrp
            +e.DIV.title-block.title-block
                +b.DIV.breadcrumbs
                    +e.A.link(href="#") НОВОСТИ
                    span /
                    +e.SPAN.name В школьной программе в ближайшие три года может появиться новый предмет
            +e.DIV.content
                +e.H1.title В школьной программе в ближайшие три года может появиться новый предмет В школьной программе в ближайшие три года может появиться новый предмет
                +e.SPAN.date 16.06.2017
                +e.DIV.info-block
                    +e.IMG.img(src="img/img.jpg")
                    +e.P.text 1 мая в Российской академии 1 мая в Российской академии образования состоялась презентация методического пособия “Практика организации и проведения экзамена по русскому языку 1 мая в Российской академии образования состоялась презентация методического пособия “Практика организации и проведения экзамена по русскому языку 1 мая в Российской академии образования по русскому языку 1 мая в Российской академии образования состоялась презентация методического пособия “Практика организпо русскому языку 1 мая в Российской академии образования состоялась презентация методического пособия “Практика организпо русскому языку 1 мая в Российской академии образования состоялась презентация методического пособия “Практика организпо русскому языку 1 мая в Российской академии образования состоялась презентация методического пособия “Практика организпо русскому языку 1 мая в Российской академии образования состоялась презентация методического пособия “Практика организпо русскому языку 1 мая в Российской академии образования состоялась презентация методического пособия “Практика организпо русскому языку 1 мая в Российской академии образования состоялась презентация методического пособия “Практика организпо русскому языку 1 мая в Российской академии образования состоялась презентация методического пособия “Практика организпо русскому языку 1 мая в Российской академии образования состоялась презентация методического пособия “Практика организпо русскому языку 1 мая в Российской академии образования состоялась презентация методического пособия “Практика организпо русскому языку 1 мая в Российской академии образования состоялась презентация методического пособия “Практика организпо русскому языку 1 мая в Российской академии образования состоялась презентация методического пособия “Практика организпо русскому языку 1 мая в Российской академии образования состоялась презентация методического пособия “Практика организпо русскому языку 1 мая в Российской академии образования состоялась презентация методического пособия “Практика организ состоялась презентация методического пособия “Практика организации и проведения экзамена по русскому языку  образования состоялась презентация методического пособия “Практика организации и проведения экзамена по русскому языку как иностранному, истории России и основам законодательства РФ 31 мая в Российской академии образования состоялась презентация методического пособия “Практика организации и проведения экзамена по русскому языку как иностранному, истории России и основам законодательства РФ31 мая в Российской академии образования состоялась презентация методического пособия “Практика организации и проведения экзамена по русскому языку как иностранному, истории России и основам законодательства РФ 31 мая в Российской академии образования состоялась презентация методического пособия “Практика организации и проведения экзамена по русскому языку как иностранному, истории России и основам законодательства РФ
            +e.DIV.bottom-block
                +e.A.button.btn(href="#") Предыдущая новость
                +e.A.button.btn(href="#") Следующая новость