extends _assets/template

block title
    title qualifications-all

block content
    +b.MAIN.news-all
        +e.DIV.wrp.wrp
            +e.DIV.title-block.title-block
                +e.H1.title.title Специальности
            +page-content()
        +pagination()