extends _assets/template

block title
    title search

block content
    +b.MAIN.search
        +e.DIV.wrp.wrp
            +e.DIV.title-block.title-block
                +e.H1.title.title ПОИСК
                +e.FORM.form
                    +e.INPUT.input(placeholder="Введите фразу для поиска" type="text")
                    +e.INPUT.submit(type="submit" value="")
                +b.DIV.search-block
                    +e.DIV.top
                        +e.SPAN.text По запросу
                        +e.STRONG.val "образование РФ"
                        +e.SPAN.text найдено
                        +e.SPAN.num 181
                        +e.SPAN.text совпадение
                    +e.DIV.sort
                        +e.SPAN.sort-text Cортировать:
                        +e.A.sort-item(href="#") по релевантности
                        +e.A.sort-item.active-down(href="#") по дате
                        +e.A.sort-item.active-up(href="#") "стрелка вверх(пример)"
            +b.DIV.search-content
                +e.UL.list
                    +e.LI.item
                        +e.DIV.info-block
                            +e.DIV.item-title
                                +e.SPAN.name.bl-name Всероссийская мобильная
                                +e.SPAN.date 16.06.2017
                            +e.DIV.text-block
                                +e.P.text 1 мая в Российской академии образования состоялась презентация методического пособия “Практика организации и проведения экзамена по русскому языку как иностранному, истории России и основам законодательства РФ 31 мая в Российской академии образования состоялась презентация методического пособия “Практика организации и проведения экзамена по русскому языку как иностранному, истории России и основам законодательства РФ31 мая в Российской академии образования состоялась презентация методического пособия “Практика организации и проведения экзамена по русскому языку как иностранному, истории России и основам законодательства РФ 31 мая в Российской академии образования состоялась презентация методического пособия “Практика организации и проведения экзамена по русскому языку как иностранному, истории России и основам законодательства РФ
                        +e.A.link.main-btn(href="#") Читать целиком
                    +e.LI.item
                        +e.DIV.info-block
                            +e.DIV.item-title
                                +e.SPAN.name.bl-name Всероссийская мобильная педагогическая академия “Педагогический
                                +e.SPAN.date 16.06.2017
                            +e.DIV.text-block
                                +e.P.text 1 мая в Российской академии образования состоялась презентация методического пособия “Практика организации и проведения экзамена по русскому языку как иностранному, истории России и основам законодательства РФ 31 мая в Российской академии образования состоялась презентация методического пособия “Практика организации и проведения экзамена по русскому языку как иностранному, истории России и основам законодательства РФ31 мая в Российской академии образования состоялась презентация методического пособия “Практика организации и проведения экзамена по русскому языку как иностранному, истории России и основам законодательства РФ 31 мая в Российской академии образования состоялась презентация методического пособия “Практика организации и проведения экзамена по русскому языку как иностранному, истории России и основам законодательства РФ
                        +e.A.link.main-btn(href="#") Читать целиком
                    +e.LI.item
                        +e.DIV.info-block
                            +e.DIV.item-title
                                +e.SPAN.name.bl-name Всероссийская мобильная педагогическая академия “Педагогический транссиб: от Москвы до берегов Амура” пройдет в Санкт-Петербурге
                                +e.SPAN.date 16.06.2017
                            +e.DIV.text-block
                                +e.P.text 1 мая в Российской академии образования состоялась презентация методического пособия “Практика организации и проведения экзамена по русскому языку как иностранному, истории России и основам законодательства РФ 31 мая в Российской академии образования состоялась презентация методического пособия “Практика организации и проведения экзамена по русскому языку как иностранному, истории России и основам законодательства РФ31 мая в Российской академии образования состоялась презентация методического пособия “Практика организации и проведения экзамена по русскому языку как иностранному, истории России и основам законодательства РФ 31 мая в Российской академии образования состоялась презентация методического пособия “Практика организации и проведения экзамена по русскому языку как иностранному, истории России и основам законодательства РФ
                        +e.A.link.main-btn(href="#") Читать целиком
                    +e.LI.item
                        +e.DIV.info-block
                            +e.DIV.item-title
                                +e.SPAN.name.bl-name Всероссийская мобильная педагогическая академия “Педагогический транссиб: от Москвы до берегов Амура” пройдет в Санкт-Петербурге
                                +e.SPAN.date 16.06.2017
                            +e.DIV.text-block
                                +e.P.text 1 мая в Российской академии образования состоялась презентация методического пособия “Практика организации и проведения экзамена по русскому языку как иностранному, истории России и основам законодательства РФ 31 мая в Российской академии образования состоялась презентация методического пособия “Практика организации и проведения экзамена по русскому языку как иностранному, истории России и основам законодательства РФ31 мая в Российской академии образования состоялась презентация методического пособия “Практика организации и проведения экзамена по русскому языку как иностранному, истории России и основам законодательства РФ 31 мая в Российской академии образования состоялась презентация методического пособия “Практика организации и проведения экзамена по русскому языку как иностранному, истории России и основам законодательства РФ
                        +e.A.link.main-btn(href="#") Читать целиком
                    +e.LI.item
                        +e.DIV.info-block
                            +e.DIV.item-title
                                +e.SPAN.name.bl-name Всероссийская мобильная педагогическая академия “Педагогический транссиб: от Москвы до берегов Амура” пройдет в Санкт-Петербурге
                                +e.SPAN.date 16.06.2017
                            +e.DIV.text-block
                                +e.P.text 1 мая в Российской академии образования состоялась презентация методического пособия “Практика организации и проведения экзамена по русскому языку как иностранному, истории России и основам законодательства РФ 31 мая в Российской академии образования состоялась презентация методического пособия “Практика организации и проведения экзамена по русскому языку как иностранному, истории России и основам законодательства РФ31 мая в Российской академии образования состоялась презентация методического пособия “Практика организации и проведения экзамена по русскому языку как иностранному, истории России и основам законодательства РФ 31 мая в Российской академии образования состоялась презентация методического пособия “Практика организации и проведения экзамена по русскому языку как иностранному, истории России и основам законодательства РФ
                        +e.A.link.main-btn(href="#") Читать целиком