extends _assets/template

block title
    title vuz-single

block content
    +b.MAIN.news-single.meet-single.vuz-single
        +e.DIV.wrp.wrp
            +e.DIV.title-block.title-block
                +b.DIV.breadcrumbs
                    +e.A.link(href="#") КОНФЕРЕНЦИИ И СЕМИНАРЫ
                    span /
                    +e.SPAN.name X Международная научно-практическая конференция «EurasiaScience»
            +e.DIV.content
                +e.H1.title В школьной программе в ближайшие три года может появиться новый предмет В школьной программе в ближайшие три года может появиться новый предмет
                +e.SPAN.date Россия, Москва
                +e.A.date(href="#") www.spbume.ru
                +e.DIV.info-block
                    +e.DIV.img(style="background-image: url(img/vuz.jpg);")
                    +e.P.text 1 мая в Российской академии 1 мая в Российской академии образования состоялась презентация методического пособия “Практика организации и проведения экзамена по русскому языку 1 мая в Российской академии образования состоялась презентация методического пособия “Практика организации и проведения экзамена по русскому языку 1 мая в Российской академии образования по русскому языку 1 мая в Российской академии образования состоялась презентация методического пособия “Практика организпо русскому языку 1 мая в Российской академии образования состоялась презентация методического пособия “Практика организпо русскому языку 1 мая в Российской академии образования состоялась презентация методического пособия “Практика организпо русскому языку 1 мая в Российской академии образования состоялась презентация методического пособия “Практика организпо русскому языку 1 мая в Российской академии образования состоялась презентация методического пособия “Практика организпо русскому языку 1 мая в Российской академии образования состоялась презентация методического пособия “Практика организпо русскому языку 1 мая в Российской академии образования состоялась презентация методического пособия “Практика организпо русскому языку 1 мая в Российской академии образования состоялась презентация методического пособия “Практика организпо русскому языку 1 мая в Российской академии образования состоялась презентация методического пособия “Практика организпо русскому языку 1 мая в Российской академии образования состоялась презентация методического пособия “Практика организпо русскому языку 1 мая в Российской академии образования состоялась презентация методического пособия “Практика организпо русскому языку 1 мая в Российской академии образования состоялась презентация методического пособия “Практика организпо русскому языку 1 мая в Российской академии образования состоялась презентация методического пособия “Практика организпо русскому языку 1 мая в Российской академии образования состоялась презентация методического пособия “Практика организ состоялась презентация методического пособия “Практика организации и проведения экзамена по русскому языку  образования состоялась презентация методического пособия “Практика организации и проведения экзамена по русскому языку как иностранному, истории России и основам законодательства РФ 31 мая в Российской академии образования состоялась презентация методического пособия “Практика организации и проведения экзамена по русскому языку как иностранному, истории России и основам законодательства РФ31 мая в Российской академии образования состоялась презентация методического пособия “Практика организации и проведения экзамена по русскому языку как иностранному, истории России и основам законодательства РФ 31 мая в Российской академии образования состоялась презентация методического пособия “Практика организации и проведения экзамена по русскому языку как иностранному, истории России и основам законодательства РФ
                +e.DIV.middle-block
                    +e.H2.mid-title Специальности
                    +e.UL.mid-list
                        +e.LI.mid-item
                            +e.A.mid-text(href="#") Безопасность информационных технологий в правоохранительной сфере
                        +e.LI.mid-item
                            +e.A.mid-text(href="#") Безопасность информационных технологий в правоохранительной сфере
                        +e.LI.mid-item
                            +e.A.mid-text(href="#") Безопасность информационных технологий в правоохранительной сфере
                    +e.H2.mid-title Проекты конференции
                    +e.UL.mid-list
                        +e.LI.mid-item
                            +e.SPAN.mid-text X Международная научно-практическая конференция «EurasiaScience»
                            +e.SPAN.mid-text 31 августа 2017 г. — 31 августа 2017 г.
                        +e.LI.mid-item
                            +e.SPAN.mid-text X Международная научно-практическая конференция «EurasiaScience»
                            +e.SPAN.mid-text 31 августа 2017 г. — 31 августа 2017 г.
                        +e.LI.mid-item
                            +e.SPAN.mid-text X Международная научно-практическая конференция «EurasiaScience»
                            +e.SPAN.mid-text 31 августа 2017 г. — 31 августа 2017 г.
                    +e.H2.mid-title Литература
                    +e.UL.mid-list
                        +e.LI.mid-item
                            +e.A.mid-text(href="#") Об инвентаре семантического метаязыка описания грамматической семантики в книге И. А. Мельчука «Курс общей морфологии» (опыт металингвистической систематизации)
                        +e.LI.mid-item
                            +e.A.mid-text(href="#") З. Салёни. О несамостоятельной форме числительных в польском и русском языках
                        +e.LI.mid-item
                            +e.A.mid-text(href="#") З. Салёни. О несамостоятельной форме числительных в польском и русском языках
                    +e.H2.mid-title Участвующие ВУЗы
                        +e.UL.mid-list
                            +e.LI.mid-item
                                +e.SPAN.mid-text Российский государственный институт сценических искусств (бывш.Санкт-Петербургская государственная академия театрального искусства)
                            +e.LI.mid-item
                                +e.SPAN.mid-text Российский государственный институт сценических искусств (бывш.Санкт-Петербургская государственная академия театрального искусства)