extends _assets/template

block title
    title vuz-all

block content
    +b.MAIN.news-all
        +e.DIV.wrp.wrp
            +e.DIV.title-block.title-block
                +e.H1.title.title РОССИЙСКИЕ И ЗАРУБЕЖНЫЕ ВУЗЫ
                +b.DIV.filter-block
                    +e.A.item(href="#") Российские ВУЗы
                    +e.A.item.active(href="#") Зарубежные ВУЗы
            +b.DIV.vuz-content
                +e.UL.list
                    +e.LI.item
                        +e.DIV.info-block
                            +e.DIV.img(style="background-image: url(img/vuz.jpg);")
                            +e.DIV.item-title
                                +e.SPAN.name.bl-name Всероссийская мобильная
                                +e.DIV.table
                                    +e.SPAN.table-item lorem
                                    +e.SPAN.table-item loremlorem
                                    +e.SPAN.table-item loremlorem
                                    +e.SPAN.table-item lorem
                            +e.DIV.text-block
                                +e.P.text 1 мая в Российской академии образования состоялась презентация методического пособия “Практика организации и проведения экзамена по русскому языку как иностранному, истории России и основам законодательства РФ 31 мая в Российской академии образования состоялась презентация методического пособия “Практика организации и проведения экзамена по русскому языку как иностранному, истории России и основам законодательства РФ31 мая в Российской академии образования состоялась презентация методического пособия “Практика организации и проведения экзамена по русскому языку как иностранному, истории России и основам законодательства РФ 31 мая в Российской академии образования состоялась презентация методического пособия “Практика организации и проведения экзамена по русскому языку как иностранному, истории России и основам законодательства РФ
                        +e.A.link.main-btn(href="#") Подробнее
                    +e.LI.item
                        +e.DIV.info-block
                            +e.DIV.img(style="background-image: url(img/vuz.jpg);")
                            +e.DIV.item-title
                                +e.SPAN.name.bl-name Всероссийская мобильная
                                +e.DIV.table
                                    +e.SPAN.table-item lorem
                                    +e.SPAN.table-item lorem
                                    +e.SPAN.table-item lorem
                            +e.DIV.text-block
                                +e.P.text 1 мая в Российской академии образования состоялась презентация методического пособия “Практика организации и проведения экзамена по русскому языку как иностранному, истории России и основам законодательства РФ 31 мая в Российской академии образования состоялась презентация методического пособия “Практика организации и проведения экзамена по русскому языку как иностранному, истории России и основам законодательства РФ31 мая в Российской академии образования состоялась презентация методического пособия “Практика организации и проведения экзамена по русскому языку как иностранному, истории России и основам законодательства РФ 31 мая в Российской академии образования состоялась презентация методического пособия “Практика организации и проведения экзамена по русскому языку как иностранному, истории России и основам законодательства РФ
                        +e.A.link.main-btn(href="#") Подробнее
                    +e.LI.item
                        +e.DIV.info-block
                            +e.DIV.img(style="background-image: url(img/vuz.jpg);")
                            +e.DIV.item-title
                                +e.SPAN.name.bl-name Всероссийская мобильная
                                +e.DIV.table
                                    +e.SPAN.table-item lorem
                                    +e.SPAN.table-item lorem
                            +e.DIV.text-block
                                +e.P.text 1 мая в Российской академии образования состоялась презентация методического пособия “Практика организации и проведения экзамена по русскому языку как иностранному, истории России и основам законодательства РФ 31 мая в Российской академии образования состоялась презентация методического пособия “Практика организации и проведения экзамена по русскому языку как иностранному, истории России и основам законодательства РФ31 мая в Российской академии образования состоялась презентация методического пособия “Практика организации и проведения экзамена по русскому языку как иностранному, истории России и основам законодательства РФ 31 мая в Российской академии образования состоялась презентация методического пособия “Практика организации и проведения экзамена по русскому языку как иностранному, истории России и основам законодательства РФ
                        +e.A.link.main-btn(href="#") Подробнее
                    +e.LI.item
                        +e.DIV.info-block
                            +e.DIV.img(style="background-image: url(img/vuz.jpg);")
                            +e.DIV.item-title
                                +e.SPAN.name.bl-name Всероссийская мобильная
                                +e.DIV.table
                                    +e.SPAN.table-item lorem
                                    +e.SPAN.table-item lorem
                                    +e.SPAN.table-item lorem
                                    +e.SPAN.table-item lorem
                            +e.DIV.text-block
                                +e.P.text 1 мая в Российской академии образования состоялась презентация методического пособия “Практика организации и проведения экзамена по русскому языку как иностранному, истории России и основам законодательства РФ 31 мая в Российской академии образования состоялась презентация методического пособия “Практика организации и проведения экзамена по русскому языку как иностранному, истории России и основам законодательства РФ31 мая в Российской академии образования состоялась презентация методического пособия “Практика организации и проведения экзамена по русскому языку как иностранному, истории России и основам законодательства РФ 31 мая в Российской академии образования состоялась презентация методического пособия “Практика организации и проведения экзамена по русскому языку как иностранному, истории России и основам законодательства РФ
                        +e.A.link.main-btn(href="#") Подробнее
        +pagination()