mixin nav()
    +b.NAV.nav
        +e.UL.list
            +e.LI.item
                +e.A.link(href="news-all.html") Новости
            +e.LI.item
                +e.A.link(href="about.html") О проекте
            +e.LI.item
                +e.A.link(href="meet-all.html") Конференции и семинары
            +e.LI.item
                +e.A.link(href="search.html") Специальности
            +e.LI.item
                +e.A.link(href="speciality.html") Росийские и зарубежные вузы
            +e.LI.item
                +e.A.link(href="meet-single.html") Международные проекты
            +e.LI.item
                +e.A.link(href="news-single.html") Учебно-методические пособия