mixin pagination()
    +b.DIV.pagination
        +e.A.item.pagination__item_left-double-arrow(href="#")
        +e.A.item.pagination__item_left-arrow(href="#")
        +e.DIV.num-block
            +e.A.link(href="#") 4
            +e.A.link(href="#") 4
            +e.A.link(href="#") 4
            +e.A.link(href="#") 4
            +e.A.link(href="#") ...
            +e.A.link(href="#") 4
            //+e.A.link(href="#") 4
            //+e.A.link(href="#") 4
            //+e.A.link(href="#") 4
            //+e.A.link(href="#") 4
            //+e.A.link(href="#") 4
            //+e.A.link(href="#") 4
        +e.A.item.pagination__item_right-arrow(href="#")
        +e.A.item.pagination__item_right-double-arrow(href="#")