mixin footer()
  +b.FOOTER.footer
    +nav()
    +e.DIV.bottom-block
      +e.DIV.item
        +e.SPAN.text
          | © 2017 Все права защищены
          br
          |При цитировании информации ссылка на портал Rusforprof.org обязательна.
      +e.DIV.item
        +b.DIV.developer
          +e.SPAN.text Дизайн и разработка
          +e.A.link(href="#") INDINS.RU





