mixin meet-block()
    +b.DIV.meet-block
        +e.A.title.title(href="#") КОНФЕРЕНЦИИ И СЕМИНАРЫ
        +e.UL.list
            +e.LI.item
                +e.DIV.info-block
                    +e.IMG.img(src="img/img.jpg")
                    +e.SPAN.name.bl-name Всероссийская мобильная педагогическая академия “Педагогический транссиб: от Москвы до берегов Амура” пройдет в Санкт-Петербурге
                    +e.DIV.text-block
                        +e.P.text 1 мая в Российской академии образования состоялась презентация методического пособия “Практика организации и проведения экзамена по русскому языку как иностранному, истории России и основам законодательства РФ 31 мая в Российской академии образования состоялась презентация методического пособия “Практика организации и проведения экзамена по русскому языку как иностранному, истории России и основам законодательства РФ31 мая в Российской академии образования состоялась презентация методического пособия “Практика организации и проведения экзамена по русскому языку как иностранному, истории России и основам законодательства РФ 31 мая в Российской академии образования состоялась презентация методического пособия “Практика организации и проведения экзамена по русскому языку как иностранному, истории России и основам законодательства РФ
                +e.A.link.main-btn(href="#") Читать статью целиком
            +e.LI.item
                +e.DIV.info-block
                    +e.IMG.img(src="img/img.jpg")
                    +e.SPAN.name.bl-name Всероссийская мобильная педагогическая академия “Педагогический транссиб: от Москвы до берегов Амура” пройдет в Санкт-Петербурге
                    +e.DIV.text-block
                        +e.P.text 1 мая в Российской академии образования состоялась презентация методического пособия “Практика организации и проведения экзамена по русскому языку как иностранному, истории России и основам законодательства РФ 31 мая в Российской академии образования состоялась презентация методического пособия “Практика организации и проведения экзамена по русскому языку как иностранному, истории России и основам законодательства РФ31 мая в Российской академии образования состоялась презентация методического пособия “Практика организации и проведения экзамена по русскому языку как иностранному, истории России и основам законодательства РФ 31 мая в Российской академии образования состоялась презентация методического пособия “Практика организации и проведения экзамена по русскому языку как иностранному, истории России и основам законодательства РФ
                +e.A.link.main-btn(href="#") Читать статью целиком